services:
  paddle-vl:
    build: .
    image: paddleocr-vl-api
    
    container_name: paddleocr-vl-api
    
    ports:
      - "8000:8000"
      
    network_mode: bridge

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    volumes:
      - .:/app
      - ./outputs:/app/outputs
      
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    
    restart: unless-stopped
